.principal 
{
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.caja
{
    background-color: aqua;
    width: 500px;
    height: 500px;
    margin: 5px;
}
.c1
{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 5px;
   
}